<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Search</title>
</head>
<body>
    <h1>Google Search</h1>
    <form action="http://localhost:5000/input.html" method="post">
        <label for="search_query">Enter ISBN:</label>
        <input type="text" name="search_query" required>
        <p>OR</p>
        <label for="search_query">Enter Book Name:</label>
        <input type="text" name="search_query" required>
        <input type="submit" value="Search">
        <p></p>
        <a href= "C:/Users/VAMSI%20RAGHAV/Desktop/VSCODE/CS6360/templates/navigation_lib.html" >Go Back</a>
    </form>
</body>
</html>
