<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Fines</title>
</head>
<body>
    <h2>Check Fines</h2>
    <form action="http://localhost:5000/check_fines" method="POST">
        <label for="card_id">Card ID:</label>
        <input type="text" id="card_id" name="card_id" required>
        <br>
        <label for="date_in">Date In:</label>
        <input type="date" id="date_in" name="date_in" required>
        <br>
        <button type="submit" name="submit_check_fines">Submit</button>
        <p></p>
        <a href= "C:/Users/VAMSI%20RAGHAV/Desktop/VSCODE/CS6360/templates/navigation_lib.html" >Go Back</a>
    </form>
</body>
</html>
