<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management - Checkin</title>
</head>
<body>
    <h1>Checkin</h1>
    <form method="POST" action="http://localhost:5000/checkin">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>
        <br>
        <label for="card_no">Card Number:</label>
        <input type="text" id="card_no" name="card_no" required>
        <br>
        <input type="submit" value="Checkin">
    </form>
    <p></p>
    <a href= "C:/Users/VAMSI%20RAGHAV/Desktop/VSCODE/CS6360/templates/navigation_lib.html" >Go Back</a>
</body>
</html>
