<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Website</title>
    <style>
        .navbar {
            background-color: #007BFF;
            overflow: hidden;
        }

        .nav-item {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 20px 25px;
            text-decoration: none;
        }

        .nav-item:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <a href="navigation_lib.html" class="nav-item">Home</a>
        <a href="input.html" class="nav-item">Search Books</a>
        <a href="New_user.html" class="nav-item">New User</a>
        <a href="checkout.html" class="nav-item">Check Out</a>
        <a href="checkin.html" class="nav-item">Check in</a>
        <a href="check_fines.html" class="nav-item">Check Fines</a>
        <a href="update_fine_input.html" class="nav-item">Update Fines</a>
        <a href="Payfines.html" class="nav-item">Pay Fines</a>
    </nav>

    <div class="content">
        <!-- Your website content goes here -->
        <img src = "library_img.jpg" width = 100% >
    </div>
</body>

</html>
